body{
    background-color: rgb(80, 248, 80);
    margin: 0;
}

header{
    background-color: goldenrod ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.text{
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    flex-direction: column; 
    background-color: goldenrod;
}

.links{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 10px 36px;
    gap: 30px;
    border-bottom: 1px solid white;
    a{
        color: black;
    }
    a:hover {
         color: #f00;
         transition: ease 0.3s;
       }
    
}
