body{
    background-color: darkgray;
    margin: 0;
}

header{
    background-color: chocolate ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: chocolate ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 10px 36px;
    gap: 30px;
    border-bottom: 1px solid white;
}